<!DOCTYPE html>
<html>
<head>
    <title>AttendX | Classroom Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

    <meta http-equiv="refresh" content="5">
<style>
body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 120px;
}
p {
    font-size: 40px;
}
</style>

<h2>📢 Announcement</h2>
<p>{{ message }}</p>

</body>
</html>
