<!DOCTYPE html>
<html>
<head>
    <title>AttendX | Register Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

</head>
<body>

<header>AttendX – Student Registration</header>

<div class="container">
    <div class="card">
        <form method="POST">
            <input name="roll" placeholder="Roll Number" required>
            <input name="name" placeholder="Student Name" required>
            <input name="dept" placeholder="Department" required>
            <input name="sem" placeholder="Semester" required>

            <button type="submit">Register</button>
        </form>

        {% if msg %}
        <p style="color:green">{{ msg }}</p>
        {% endif %}
    </div>
</div>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
