<!DOCTYPE html>
<html>
<head>
    <title>AttendX | Send Message</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

</head>
<body>

<h2>Send Message to Classroom Screen</h2>

<form method="POST">
    <textarea name="message" rows="4" cols="40" required></textarea><br><br>
    <button type="submit">Send Message</button>
</form>

{% if msg %}
<p style="color:green">{{ msg }}</p>
{% endif %}

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
