<!DOCTYPE html>
<html>
<head>
    <title>AttendX | View Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

</head>
<body>

<h2>Registered Students</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Department</th>
        <th>Semester</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.roll_no }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.department }}</td>
        <td>{{ student.semester }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
