<!DOCTYPE html>
<html>
<head>
    <title>AttendX | Warning Display</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

    <meta http-equiv="refresh" content="10">
</head>
<body style="text-align:center; font-size:30px;">

<style>
body {
    background-color: #111827;
    color: #facc15;
    font-family: Arial;
    text-align: center;
    padding-top: 80px;
}
p {
    font-size: 36px;
}
</style>

<h2>⚠️ Attendance Warning</h2>

{% for s in students %}
<p>{{ s.name }}</p>
{% endfor %}

</body>
</html>
